[ [ -t "readium-ng" "npm run watch:readium-ng" : -t "readium-shared-js" "echo 'Sleeping... 10s' && sleep 10 && npm run watch:readium-shared-js" ] .. [ -t "readium-ng-viewer" "echo 'Sleeping... 20s' && sleep 20 && npm run watch:readium-ng-viewer" : -t "readium-cfi-js" "npm run watch:readium-cfi-js" ] ]