[ [ -t "readium-ng" "clear && exec $SHELL -c \"cd readium-ng;$SHELL\"" : -t "readium-shared-js" "clear && exec $SHELL -c \"cd readium-shared-js;$SHELL\"" ] .. [ -t "readium-ng-viewer" "clear && exec $SHELL -c \"cd readium-ng-viewer;$SHELL\"" : -t "readium-cfi-js" "clear && exec $SHELL -c \"cd readium-cfi-js;$SHELL\"" ] ]